body {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #800000;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 10px;
}

.navbar .logo {
  margin-right: 20px;
}

.navbar a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}
.val {
    background-color: #cfcbcb;
    padding: 10px;
    border-radius: 5px;
    font-family: Fantasy;
}

.val p {
    margin-bottom: 10px;
}

.val a {
    color: #007bff;
    text-decoration: none;
}
.val2{
font-size: 60px;
margin-left: 401px;
}
